.section-padding {
    padding: 10rem 0;
}

.section-primary_title {
    text-align: center;
    margin-bottom: 6rem;

    h2 {
        color: #fff;
        font-size: 7rem;
        text-transform: uppercase;
        margin-top: 1rem;
    }

    span {
        font-size: 2rem;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1px;

        ion-icon {
            color: #e81938;
            font-size: 2rem;
            position: relative;
            bottom: -2px;
            margin: 0 1rem;
        }
    }

    p {
        font-family: "Noto Sans", sans-serif;
        font-size: 2rem;
    }
}

.section-secondary_title {
    margin-bottom: 8rem;

    h2 {
        color: #fff;
        font-size: 6rem;
        text-transform: uppercase;

        span {
            color: #e81938;
        }
    }

    p {
        font-family: "Noto Sans", sans-serif;
        color: #8e8e8e;
        margin: 2rem 0;
        font-size: 1.8rem;
        letter-spacing: .6px;
    }
}

// Banner Css

.hero-bannerSection-Box {
    padding-top: 4.5rem;
    overflow: hidden;

    .owl-stage-outer {
        overflow: visible;

        &::after {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.2);
            user-select: none;
            pointer-events: none;
        }
    }
}



.owl-carousel {
    width: 100%;
    margin: auto;
    position: relative;

    .owl-stage,
    .owl-stage-outer,
    .owl-item {
        height: 100%;
    }

    &.hero-bannerSection {
        height: 900px;

        .parallax-image {
            position: absolute;
            width: 100%;
            height: 120%;
            top: -10%;
            left: 0;
            z-index: 0;

            img {
                user-select: none;
                pointer-events: none;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transform: translateY(0);
                transition: transform 1.2s ease-out;
            }
        }

        .item {
            position: relative;
            overflow: hidden;
            height: 100%;

            &:hover .parallax-image img {
                transform: translateY(15px); // adjust based on intensity
            }

            .text-content-shell {
                position: absolute;
                top: 50%;
                left: 0;
                width: 100%;
                transform: translate(0px, -50%);

                .text-content {
                    max-width: 1400px;
                    margin: auto;

                    p {
                        color: #fff;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        margin-bottom: 4rem;
                        font-size: 1.8rem;
                    }

                    h1 {
                        text-transform: uppercase;
                        color: #fff;
                        margin-bottom: 7rem;
                        font-weight: 600;
                        font-size: 8rem;
                    }

                    .btn-primary {
                        padding: 2rem;
                        font-size: 1.8rem;
                        text-transform: uppercase;
                        font-weight: 500;
                    }
                }
            }
        }

        .owl-nav {

            .owl-prev,
            .owl-next {
                background-color: transparent;
                color: #fff;
                font-size: 6rem;
                height: 7rem;
                width: 6rem;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    color: #ffffff6a;
                }
            }
        }
    }

    .owl-nav {
        button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            margin: 0;
            transition: all 0.3s ease-in-out;

            &:focus {
                outline: none;
            }

            &.owl-prev {
                left: 3rem;
            }

            &.owl-next {
                right: 3rem;
            }
        }
    }

    .owl-dots {
        text-align: center;
        padding-top: 15px;

        button.owl-dot {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            display: inline-block;
            background: #ccc;
            margin: 0 3px;

            &.active {
                background-color: #000;
            }

            &:focus {
                outline: none;
            }
        }
    }

    // span {
    //     font-size: 70px;
    //     position: relative;
    //     top: -5px;
    // }
}

// Info Banner 

.info-banner-section {

    .row {
        .col-lg-6 {
            padding: 0;
        }
    }

    .info-inner-content {
        position: relative;
        overflow: hidden;

        &:hover {
            img {
                transform: scale(1.11);
            }
        }

        img {
            width: 100%;
            transition: transform 1s;
        }

        .info-content {
            position: absolute;
            bottom: 6rem;
            left: 6rem;
        }

        h2 {
            font-size: 40px;
            text-transform: uppercase;
            color: #fff;
        }
    }

    .info-below-content {
        border-bottom: 2px solid red;
        margin: 0 5rem 0 6rem;
        padding: 4rem 0 6rem;

        p {
            color: #8e8e8e;
            font-family: "Noto Sans", sans-serif;
            font-size: 1.6rem;
        }

        ul {
            list-style-type: none;
            padding: 0;

            p {
                color: #c6c6c6;

                svg {
                    color: #e81938;
                    margin-right: .4rem;
                }
            }
        }
    }
}

// Our Ride Section
.our-ride-section {
    .our-ride-content {
        background-color: #fff;

        .content-text {
            padding: 4rem 4rem 2rem;
            position: relative;

            span {
                position: absolute;
                top: -2rem;
                background-color: #e81938;
                color: #fff;
                text-transform: uppercase;
                padding: .5rem 1rem;
                letter-spacing: .3px;
                line-height: initial;
                font-size: 1.8rem;
            }

            h3 {
                font-size: 3rem;
                margin-bottom: 2rem;
            }

            p {
                font-size: 1.6rem;
                color: #8e8e8e;
                font-family: "Noto Sans", sans-serif;
                font-weight: 300;
                line-height: 32px;
            }
        }

        .content-img {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

// Testimonial Section
.section-background {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    width: 100%;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial-section {
    .section-primary_title {
        text-align: left;

        p {
            margin-bottom: 6rem;
        }

        .btn {
            padding: 1.6rem 4rem;
            font-size: 1.8rem;
            text-transform: uppercase;
        }
    }

    .owl-stage-outer {
        background-color: #fff;
    }

    .owl-carousel {
        max-width: 97rem;
        margin-right: 0;
        margin-bottom: -26rem;

        .text-content-shell {
            // height: 25rem;
            padding: 7rem 10rem;

            p {
                margin: 0;
                font-family: "Noto Sans", sans-serif;
                font-size: 2.4rem;
                font-style: italic;
                color: #131313;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }

            .t-user-info {
                display: flex;
                align-items: center;
                margin-top: 5.5rem;

                i {
                    height: 6rem;
                    width: 6rem;
                    display: inline-block;
                    margin-right: 2rem;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }

                p {
                    font-family: "Teko", sans-serif;
                    line-height: initial;
                    font-size: 3rem;
                }

                span {
                    font-size: 1.8rem;
                    color: #131313;
                    text-transform: uppercase;
                }
            }
        }

        .owl-nav {
            button {
                border: 2px solid #000;
                color: #000;
                height: 6rem;
                width: 6rem;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 2.6rem;
                transform: initial;
                top: initial;
                bottom: 6.5rem;
            }

            .owl-prev {
                left: initial;
                right: 16.5rem;
            }

            .owl-next {
                right: 10rem;
            }
        }
    }
}

// Team Section
.our-team-section {
    padding-top: 25rem;

    .section-primary_title {
        text-align: left;
    }

    .profile-card {
        position: relative;
        width: 100%;
        height: 39rem;
        overflow: hidden;
        box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.3);
        margin-bottom: 2rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: grayscale(100%);
            transition: transform 0.5s ease;
        }

        .card-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #e819386e;
            opacity: 0;
            transition: opacity 0.4s ease-in-out;
        }

        .card-content {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            box-sizing: border-box;
            color: #fff;
            text-align: left;

            .text-info {
                padding: 0 2.5rem;
            }

            h2 {
                margin: 0;
                font-size: 3rem;
                font-weight: 600;
                color: #fff;
                text-transform: uppercase;
            }

            p {
                text-transform: uppercase;
                margin: 0 0 1.5rem;
                font-size: 1.8rem;
                font-weight: 400;
                letter-spacing: 1px;
                color: #fff;
            }

            .social-links {
                max-height: 0;
                opacity: 0;
                overflow: hidden;
                border-top: 1px solid rgba(255, 255, 255, 0.3);
                padding: 1rem 2.5rem;
                display: flex;
                gap: 2.5rem;
                transition: max-height .6s ease, opacity 0.4s ease;

                a {
                    color: #fff;
                    font-size: 1.6rem;
                    text-decoration: none;
                }
            }
        }

        &:hover {

            .card-overlay {
                opacity: 1;
            }

            .card-content .social-links {
                max-height: 50px;
                opacity: 1;
            }

            img {
                transform: scale(1.08);
            }
        }
    }
}

// Event Section
.event-section {
    .no_event-text {
        display: block;
        font-family: "Noto Sans", sans-serif;
        color: #fff;
        text-align: center;
    }
}

// Stats Section
.stats-section {
    position: relative;
    padding-top: 7rem;
    padding-bottom: 38rem;
    // background-image: url('https://demo2.wpopal.com/lexrider/wp-content/uploads/2019/04/lexider_bg2_1.png');
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;

    .container {
        max-width: 100rem;
        margin: auto;
    }

    .stats-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 3rem;
        text-align: center;
        color: #fff;

        .stat-item {
            svg {
                font-size: 5rem;
                color: #fff;
                margin-bottom: 2rem;
            }

            .stat-number {
                font-size: 8rem;
                font-weight: 500;
                color: #e81938;
            }

            .stat-label {
                font-size: 1.8rem;
                color: #fff;
                letter-spacing: 1px;
                border-top: .3rem solid #e81938;
                padding-top: 2rem;
                text-transform: uppercase;
            }
        }

        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 4rem;
        }

        @media (max-width: 480px) {
            grid-template-columns: 1fr;
        }
    }

    @media (max-width: 576px) {
        padding-bottom: 10rem;
    }
}

// Footer Section
.site-footer {
    background-color: #1a1a1a;
    color: #a0a0a0;
    position: relative;

    .footer-main {
        padding: 10rem 0;

        .widget-title {
            font-size: 6rem;
            color: #fff;
            margin-bottom: 3.5rem;
            font-weight: 500;
            line-height: 58px;
            text-transform: uppercase;

            .highlight-text {
                color: #e50000;
            }
        }

        .widget-title-sm {
            font-size: 1.8rem;
            color: #fff;
            text-transform: uppercase;
            margin-bottom: 2.5rem;
            font-weight: 400;
            letter-spacing: 3px;
            margin-top: 1rem;
        }

        .contact-info {
            gap: 4rem;
            display: flex;

            @media all and (max-width: 1200px) {
                flex-wrap: wrap;
            }

             @media all and (max-width: 576px) {
                gap: 0rem;
            }

            p {
                display: flex;
                align-items: center;
                gap: 1.5rem;
                font-size: 4rem;

                a {
                    color: #fff;
                    text-decoration: none;

                    &:hover {
                        color: #9c0202;
                    }
                }
            }

            ion-icon {
                color: #e50000;
                font-size: 3rem;
            }
        }

        address {
            font-style: normal;
            line-height: 1.8;
            font-family: "Noto Sans", sans-serif;
            margin-bottom: 0;
        }

        .map-link {
            color: #e50000;
            text-decoration: none;
            font-size: 1.2rem;
            letter-spacing: 1px;
            font-family: "Noto Sans", sans-serif;
            margin-top: 1rem;
            display: inline-block;

            &:hover {
                color: #fff;
            }
        }

        .quick-links {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                padding-left: 1.5rem;
                position: relative;
                margin-bottom: .4rem;
                line-height: initial;

                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translate(0px, -50%);
                    width: .5rem;
                    height: .5rem;
                    background-color: #e50000;
                    border-radius: 40rem;
                }

                a {
                    color: #a0a0a0;
                    text-decoration: none;
                    transition: color 0.3s ease;
                    font-family: "Noto Sans", sans-serif;

                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
    }

    .footer-bottom {
        padding: 5rem 0;
        background-color: #131313;

        .footer-bottom-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .copyright-text p {
            margin: 0;
            font-size: 1.6rem;
            font-family: "Noto Sans", sans-serif;
        }

        .footer-logo {
            text-align: center;

            img {
                max-height: 4rem;
                opacity: 0.8;
            }
        }

        .social-media {
            display: flex;
            align-items: center;
            gap: 1.5rem;
            font-size: 1.8rem;
            justify-content: flex-end;
            letter-spacing: 1px;

            span {
                color: #fff;
                display: inline-block;
                margin-right: .5rem;
            }

            a {
                color: #fff;
                text-decoration: none;
                font-size: 2rem;
                transition: color 0.3s ease;
                background-color: #000;
                line-height: initial;
                height: 4rem;
                width: 4rem;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    color: #e50000;
                }
            }
        }
    }

    .scroll-to-top-button {
        position: fixed;
        /* Fixed to the viewport */
        bottom: 20px;
        right: 20px;
        width: 45px;
        height: 45px;
        background-color: #e50000;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-size: 1.2rem;
        border-radius: 5px;

        opacity: 0;
        visibility: hidden;
        transform: translateY(15px);
        transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;

        &:hover {
            background-color: #c40000;
        }

        &.is-visible {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
    }

    @media (max-width: 992px) {
        .footer-main .footer-grid {
            grid-template-columns: 1fr 1fr;
        }

        .footer-bottom-content {
            .footer-logo {
                display: none;
            }
        }
    }

    @media (max-width: 768px) {
        .footer-main .footer-grid {
            grid-template-columns: 1fr;
        }
    }
}